h1{
    color: rgb(108, 229, 232);
    text-align: center;
}

h2{
    color: rgb(108, 229, 232);
    text-align: center;
}

h3{
    color: black;
    text-align: center;
    font-weight: 900;
}

h4{
    color: black;
    text-align: left;
    font-weight: 700;
    font-size: 19px;
    line-height: 30px;

}

ul{
   color: black; 
}

p{
    text-align: justify;
    word-spacing: 6px;
    text-indent: 0px;
    font-size: 18px;
} 

a{
    color: black;
    text-decoration: none;
    font-weight: 500;
}

a:hover{
    text-decoration: underline;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}