@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body{
    font-family: 'Poiret One', cursive;
}

.menu{
    background-color: #5d878c;
    display:flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    margin: 0 0 0 0;
    border-radius: 10px;
    margin-bottom: 10px;
}

.menu_titulo{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    position: relative; left: 80px;
    color: #fff;
}

.menu_botoes{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    position: relative; right: 70px;
}

.menu_botoes ul{
    list-style: none;
    display: flex;
}

.menu_botoes a{
    
    margin: 60px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-align:left;
}

.titulo_link a{
    font-size: 20px;
    font-weight: 500;
    text-align:left;
    color:black;
}

a{
    text-decoration: none;
}

.menu_botoes li :hover{
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.7);
}
    

h1{
    letter-spacing: 1px;
}

.secao2{
    /* width: 100%; */
    height: 530px;
    border: 2px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px;
    box-sizing: border-box;
    background-image: url(https://i.pinimg.com/originals/03/e0/b9/03e0b979eb3caaf5bcf42661c519dc48.jpg);
    /* background-repeat: no-repeat; */
    background-size:cover;
    image-rendering: optimizeQuality;
}

h3{
    size: 30px;
    position: relative; left: 100px; top: 250px;
}

h4{
    font-size: 18px;
    line-height: 1px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.021);
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #f2e9d838;

}

.box{
    width: 300px;
    height: 325px;
    border: 1px rgba(0, 0, 0, 0.021);
    margin: 50px;
    border-bottom-right-radius: 10px;
    background-color: #f2e9d8;
    text-align: center;
    font-weight: bolder;
}

.box_img1{
    /* Jardin Du Luxembourg */
    width: 300px;
    height: 225px;
    background-image: url(../images/images/Jardin\ du\ Luxembourg\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.box_img2{
    /* Place du Panthéon */
    width: 300px;
    height: 225px;
    background-image: url(../images/images/Place\ du\ Panthéon\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.box_img3{
    /* Café de L'Homme */
    width: 300px;
    height: 225px;
    background-image: url(../images/images/Café\ de\ I\'Homme\ 3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.box_img4{
/* Pont Alexandre III  */
    width: 300px;
    height: 225px;
    background-image: url(../images/images/Pont\ Alexandre\ III\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.box_img5{
    /* Musee Des Arts Forains */
    width: 300px;
    height: 225px;
    background-image: url(../images/images/Musee\ des\ arts\ forains\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.box_img6{
    /* Palais Garnier */
    width: 300px;
    height: 225px;
    background-image: url(../images/images/Palais\ Garnier\ 3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.box_txt{
    width: 300px;
    height: 100px;
    font-size: 15px;
    padding-left: 9px;
    box-sizing: border-box;
    color: black;
}

.galeria{
    height: 250px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border: 1px;
    border-radius: 10px;
    background-color: #f2e9d8;
}

.galeria_1, .galeria_2, .galeria_3, .galeria4{
    width: 335px;
    height: 225px;
    margin: 0 30px 0 30px;

}

.caixa__comentario textarea {
    width: 95%;
    height: 225px;
    margin: 0px auto 10px;
    border: 1px solid;
    border-radius: 10px;
    resize: none;
    padding-left: 20px;
    box-sizing: border-box;
}

.botao__enviar{
    padding-bottom: 20px;
}

.voltar_home {
    color: black;
    margin: 0;
    border: 1px solid;
}

.galeria_1{
    background-image: url(https://i.pinimg.com/564x/46/57/67/465767cd05b5a5f231a465e7290c6aa5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.galeria_2{
    background-image: url(https://i.pinimg.com/564x/97/f9/34/97f93451124a221ddd561ab119a40c97.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.galeria_3{
    background-image: url(https://i.pinimg.com/564x/ac/85/88/ac8588197bdb120e879b42d781ab35d9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.galeria4{
    background-image: url(https://i.pinimg.com/564x/ac/85/88/ac8588197bdb120e879b42d781ab35d9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

h5{
    font-size: 22px;
    /* font-weight: 900; */
    text-align: center;
    text-decoration:underline;
}

.centropags{
    padding: 20px 35px 20px 20px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.021);
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight:bolder;
    background-color: #f2e9d838;
}
