

.menu{
    background-color: #731728;
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    margin: 0 0 0 0;
}

.menu_titulo{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    position: relative; left: 80px;
    color: #fff;
}

.menu_botoes{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    position: relative; right: 70px;
}

.menu_botoes ul{
    list-style: none;
    display: flex;
}

a{
    text-decoration: none;
    margin: 60px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}

.menu_botoes li :hover{
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.7);
}
    

h1{
    letter-spacing: 1px;
}

.secao2{
    width: 100%;
    height: 710px;
    border: 2px solid;
    margin-bottom: 10px;
    padding: 20px;
    box-sizing: border-box;
}

h3{
    size: 30px;
    position: relative; left: 100px; top: 250px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    margin-bottom: 10px;
}

.box{
    width: 300px;
    height: 325px;
    border: 1px solid rgba(0, 0, 0, 0.287);
    margin: 50px;
}

.box_img{
    width: 300px;
    height: 225px;
    background-image: url(../images/teste.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.box_txt{
    width: 300px;
    height: 100px;
    font-size: 15px;
    padding-left: 9px;
    box-sizing: border-box;
}

h4{
    font-size: 18px;
    line-height: 1px;
}

.galeria{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    background-color: #731728;
}

.galeria_1, .galeria_2, .galeria_3{
    width: 300px;
    height: 225px;
    background-image: url(../images/teste.png);
    margin: 0 30px 0 30px;
    border: 1px solid;
    border-radius: 10px;
}

